.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: url(/img/SL_123119_26540_06.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 38px;
}

.input-box label {
  display: block;
  margin-bottom: 10px;
}
  
.input-box {
  width: 100%; /* Ajuste o tamanho da largura */
  margin: 15px auto; /* Ajuste o espaçamento */
  padding: 30px; /* Ajuste o espaçamento interno */
  border: none 1px solid #ccc; /* Ajuste a cor da borda */
  border-radius: 5px; /* Ajuste a curvatura da borda */

}
  
.input-box input {
  width: 100%; /* Ajuste o tamanho da largura do campo de entrada */
  padding: 10px; /* Ajuste o espaçamento interno do campo de entrada */
  border: none; /* Ajuste a cor da borda do campo de entrada */
  border-radius: 5px; /* Ajuste a curvatura da borda do campo de entrada */
  margin-inline: 0px;
  
}
  
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

h1, p {
  text-align: center;
}

button[type="submit"] {
  margin-top: 20px;
  margin-left: 35px;
}

#formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: gray;
}
    
#formulario label {
  width: 20%;
}

#formulario input {
  width: 100%;
  margin-bottom: 20px;
}

#tabela {
  background-color: gray;
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 100px;
}

#tabela th, #tabela td {
  border: 1px solid #ccc;
  padding: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 80px;

}

.navbar .links a {
  color: #fff;
  text-decoration: none;
}

.navbar .links a:hover {
  color: orange;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

#criar {
  background-color: #4CAF50;
}

.dash{
  background-color:  #af4c4c ;
}
    